/* RESET CSS */
html{
    font-size:62.5%;
    box-sizing:border-box;
    scroll-behavior:smooth;
}

*,*::before,*::after{
    padding: 0;
    margin: 0;
    box-sizing:inherit;
    list-style:none;
    text-decoration:none;

}

/* variables */
:root{
    /* colors */
    --primary:#edf2f4;
    --secondary:#CED0CE;
    --bgColor:#CED0CE;
    --footer:#2b2d42;
    --colorLightGrey:#8d99ae;
    --colorWhite: #fff; 
    --colorBlack: #000;
    --colorBlue: #4169e1;
    --colorGray: #808080;
    --colorBlue1: #1876f2;
    --colorTextBlack: rgba(0,0,0,.87);
    --colorTextBlackSoft: rgba(26, 32, 49, 0.58);
    --colorButtonRed:#ef233c;

    /* transition */
    --transition1: all 0.5s ease;

    /* box shadow */
    --shadow1:rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    --shadow2:0 2px 10px rgba(0,0,0,0.3);
}



button{
    border:none;
    outline:none;
    cursor: pointer;
}
/* typography */

h1,h2,h3,h4{
    text-transform: capitalize;
}


/* General style */
body{
    min-height:100vh;
    font-family: serif;
    background-color:var(--bgColor);
    font-family: 'Montserrat', sans-serif;
}

.container{
    padding:1rem 2rem;
}

/*********header*********/
.header{
    position: relative;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.header.show-shadow{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    background-color:var(--primary);
    box-shadow:var(--shadow2);
    z-index: 9999;
}

.logo{
    color:var(--colorBlue);
    font-size:2rem;
}
.hamburger-menu{
    cursor: pointer;
}

.hamburger{
    width:3rem;
    height:0.28rem;
    background-color:var(--colorTextBlack);
    transition:var(--transition1);
    border-radius:20px;
}

.hamburger:nth-child(2){
    margin-block:0.25rem;
    width:2rem;
    transform:translateX(0.5rem);
}

.hamburger:nth-child(2).active{
    width:0;
}
.hamburger:nth-child(1).active{
    width:2rem;
    transform:translate(0,0.4rem)rotate(-45deg)rotate(-180deg);
}
.hamburger:nth-child(3).active{
    width:2rem;
    transform:translate(0,-0.6rem)rotate(45deg)rotate(180deg);
}
.nav{
    position:absolute;
    right:2rem;
    top:4.7rem;
    height:0;
    width:20rem;
    overflow: hidden;
    background-color:var(--primary);
    box-shadow:var(--shadow1);
    border-radius:3px;
    transition:var(--transition1);
    z-index:99999;     
}

.menu-list{
    display:flex;
    flex-direction:column;
    gap:1.5rem;
    padding:1rem 2rem;
}

.menu-list a {
    text-transform:capitalize;
    font-size:medium;
    color:var(--colorTextBlack);
    letter-spacing:1px;
    transition:var(--transition1);
}

.menu-list a:hover{
    color:var(--colorBlue1);
}

.login-register{
    display:flex;
    align-items:center;
    gap:1rem;
}

.login-register  li:nth-child(2){
    width:0.15rem;
    height:2rem;
    background-color:var(--colorGray);
}

/*********header*********/


/*********hero*********/


.hero{
    display:flex;
    flex-direction:column;
    animation:animate-one 2.5s ease forwards;
}

.hero-title{
    letter-spacing:1px;
    word-spacing:1px;
    text-transform: capitalize;
    font-size:2.5rem;
}

.hero-title span{
    font-weight: 400;
}

.hero-desc{
    font-size:1.4rem;
    color:var(--colorTextBlack);
    margin-block:2rem 3rem;
    line-height:1.5;
    letter-spacing:0.5px;
}

.hero-order{
    padding:1rem;
    width:20rem;
    border-radius:3px;
    font-size:1.4rem;
    color:var(--colorWhite);
    background-color:var(--colorBlue1);
    text-align:center;
    letter-spacing:1px;
}

.hero-img{
    width:100%;
    margin-block:4rem 2rem;
}


@keyframes animate-one {
    from {
        transform:translateY(10rem);
        opacity:0;
    }
    to{
        transform:translateY(0);
        opacity:1;
    }
}
/*********hero*********/


/*********main*********/
.main{
    display:flex;
    flex-direction:column;
    gap:2rem;
    margin-block:8rem 3rem;
    overflow: hidden;
}

.main-order,
.main-delivery,
.main-about{
    display:flex;
    flex-direction:column;
    gap:2rem;
}

.main h2{
    font-size:2rem;
    color:var(--colorBlue1);
    text-transform: capitalize;
    margin-top:2rem;
}

.main h3{
    font-size:2.5rem;
    margin-block:1rem 2rem;
    text-transform: capitalize;
}

.main img{
    width:100%;
}

.main p{
    font-size:1.4rem;
    line-height:1.5;
    color:rgb(99, 98, 98);
    margin-block-end:2rem;
}

.main-order-link{
    padding:1rem;
    width:20rem;
    border-radius:3px;
    font-size:1.4rem;
    color:var(--colorWhite);
    background-color:var(--colorBlue1);
    text-align:center;
    letter-spacing:1px;
}
    

.main-title{
    text-align:center;
}
    
.main-courier{
    margin-block:2rem;
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(min(100%,26rem),1fr));
    gap:2rem;
}        
.main-courier-container{
    display:flex;
    flex-direction:column;
    gap:1.5rem;
    padding:1rem;
    border-radius:5px;
}
.main-courier-image{
    width: 10rem  !important;
}
.main-courier-title{
    font-size:2.5rem;
    text-transform: capitalize;
}

/* contact page */
.contact-container{
    margin-inline:auto;
}
.contact-wrapp{
    display:flex;
    flex-direction:column;
    
}
.contact-wrapp form{
    background-color:var(--colorBlack);
    padding:2rem;
    display:flex;
    flex-direction:column;
    gap:1rem;
}
.contact{
    background-color:var(--footer);
    padding:2rem;
    display:flex;
    flex-direction:column;
    gap:1rem;
}

.contact h2{
    color:var(--colorWhite);
}

.contact ul{
    display:flex;
    flex-direction:column;
    gap:2rem;
}

.contact li{
    display:flex;
    align-items:center;
    gap:1rem;
}

.contact p{
    color:var(--colorLightGrey);
    font-size:1.4rem;
}
.contact strong{
    color:var(--colorWhite);
}
.contact span{
    width:4rem;
    height:4rem;
    border-radius:50%;
    background-color:var(--colorTextBlackSoft);
    display:flex;
    justify-content:center;
    align-items:center;
}
.contact i{
    color:var(--colorWhite);
    font-size:1.4rem;
}


/* reveal  */
.reveal{
    position: relative;
    transform:translateX(10rem);
    opacity:0;
    transition:all 2s ease;

    /* @include for-tablet-landscape-up{
        transform: translateY(15rem);
    } */
}
.reveal:nth-of-type(odd){
    transform:translateX(-10rem);
    /* @include for-tablet-landscape-up{
        transform:translateY(-15rem);
    } */
}


.reveal.active{
    transform:translateX(0px);
    opacity:1;
}
/*********main*********/



/*********footer*********/

.footer{
    background-color:var(--footer);
    margin-top: 5rem;
    padding-block:2rem;
}   
.footer .columns{
    display:flex;
    align-items:center;
    flex-direction:column;
    gap:2rem;
}
       
    
.footer h4{
    margin-block:1rem;
    font-size:1.6rem;
    color:var(--bgColor);
    letter-spacing:1px;
}
.footer p strong{
    color:var(--colorGray);
}
  
.footer p{
    margin-block:1rem;
    font-size:1.3rem;
    color:var(--primary);
    text-transform: capitalize;
    letter-spacing:1px;
}


.footer .contact{
    margin-top:1.5rem;
}
           
.footer .follow-links{
    margin-block:3rem 2rem;
}
.footer .links{
    display:flex;
    align-items:center;
    gap:1rem;
}

.footer .links img{
    width:2rem;
}
.footer .column2{
    display:flex;
    justify-content:space-between;
    align-items:center;
}
      
.footer .columns  a{
    color:var(--colorLightGrey);
    transition:all 0.5s ease-in-out;
}

.footer .columns a:hover{
    color:var(--colorBlue);
}
                   
.footer .column3{
    width:100%;
}

.link-to-store button{
    width:8rem;
    height:3rem;
    border-radius:4px;
    overflow:hidden;
}                 
.link-to-store button img{
    width:100%;
    height:100%;
}        

.footer .column1,
.footer .column2,
.footer .column3{
    width:100%;
}    
    
    
.footer .copyRight{
    color:var(--secondary);
    text-align:center;
    font-size:1.2rem;
    letter-spacing:1px;
}
.footer .heart{
    color:var(--colorButtonRed);
    font-size:2rem;
}
    

/*********footer*********/


/* media queries*/

@media screen and (min-width:700px) {
    .container{
        padding-inline: 2rem 4rem;
    }
    .hero{
        height:70vh;
        padding-block:4rem;
    }
    .hero-image{
        height:calc(100vh / 2);
    }

    .hero img{
        height:100%;
        object-fit:cover;
    }
}


@media screen and (min-width:900px) {
    .container{
        padding-inline:6rem;
    }
    .hamburger-menu{
        display:none;
    }

    .nav{
        position: static;
        right:unset;
        top:unset;
        width:auto;
        height:auto;
        overflow:auto;
        background:none;
        box-shadow:none;
        border-radius:none;
    }

    .menu-list{
        flex-direction:row;
    }
    .hero{
        flex-direction: row;
        align-items:center;
        padding-block:2rem;
    }
    .hero-text{
        flex:1;
    }

    .hero-image{
        flex:1;
        height:60vh;
    }

    .hero img{
        height:100%;
        object-fit:cover;
    }

    /* main */
    .main-about,
    .main-delivery{
        flex-direction:row;
        align-items:center;
    }
    .main-delivery-image,
    .main-delivery-text,
    .main-order-image,
    .main-order-text,
    .main-about-text,
    .main-about-image{
        flex:1;
    }
    .main-order{
        flex-direction:row-reverse;
        align-items:center;
    }
    /* footer */
    .footer .columns{
        flex-direction:row;
        margin-top:2rem;
        gap:4rem;
    }

    .footer .column1{
        align-self: self-start;
    }

    .footer .column3{
        height:258px;
    }

    .footer .column2{
        height:258px;
        align-items:unset;
    }

    
    .footer .column2,
    .footer .column3{
        padding-top:0.5rem;
    } 

    .footer .link-to-store{
        display:inline-flex;
    }

    .contact-wrapp{
        flex-direction: row;
    }
          
}
@media screen and (min-width:1200px){
    .container{
        padding-inline:10rem;
    }
    .footer .column3{
        display:flex;
        flex-direction:column;
        margin-left:5rem;
    }
}

@media screen and (min-width:1800px){
    .container{
        padding-inline:12rem;
    }
}